---
import ImageMarquee from "./ImageMarquee.astro"

const today = new Date()
const images = [
   {
      src: "/firm-logo/1_n.jpg",
      alt: "Anadolu Sigorta",
   },
   {
      src: "/firm-logo/3_n.jpg",
      alt: "AK Sigorta",
   },
   {
      src: "/firm-logo/4_n.jpg",
      alt: "Allianz",
   },
   {
      src: "/firm-logo/5_n.jpg",
      alt: "Bereket Sigorta",
   },
   {
      src: "/firm-logo/8_n.jpg",
      alt: "Ankara Sigorta",
   },
   {
      src: "/firm-logo/9_n.jpg",
      alt: "ATLAS Mutuel Sigorta",
   },
   {
      src: "/firm-logo/12_n.jpg",
      alt: "Doğa Sigorta",
   },
   {
      src: "/firm-logo/15_n.jpg",
      alt: "ethica sigorta",
   },
   {
      src: "/firm-logo/17_n.jpg",
      alt: "Halk Sigorta",
   },
   {
      src: "/firm-logo/18_n.jpg",
      alt: "HDI Sigorta",
   },
   {
      src: "/firm-logo/19_n.jpg",
      alt: "Koru Sigorta",
   },
   {
      src: "/firm-logo/20_n.jpg",
      alt: "Eureko Sigorta",
   },
   {
      src: "/firm-logo/21_n.jpg",
      alt: "GENERALI",
   },
   {
      src: "/firm-logo/22_n.jpg",
      alt: "Groupama Sigorta",
   },
   {
      src: "/firm-logo/23_n.jpg",
      alt: "Gulf Insurance Group Turkey",
   },
   {
      src: "/firm-logo/24_n.jpg",
      alt: "Güneş Sigorta",
   },
   {
      src: "/firm-logo/25_n.jpg",
      alt: "Neova Sigorta",
   },
   {
      src: "/firm-logo/26_n.jpg",
      alt: "Orient Sigorta",
   },
   {
      src: "/firm-logo/27_n.jpg",
      alt: "Quick Sigorta",
   },
   {
      src: "/firm-logo/29_n.jpg",
      alt: "Magdeburger Sigorta",
   },
   {
      src: "/firm-logo/30_n.jpg",
      alt: "MAPFRE Sigorta",
   },
   {
      src: "/firm-logo/32_n.jpg",
      alt: "Türk Nippon Sigorta",
   },
   {
      src: "/firm-logo/34_n.jpg",
      alt: "UNICO Sigorta",
   },
   {
      src: "/firm-logo/35_n.jpg",
      alt: "Şeker Sigorta",
   },
   {
      src: "/firm-logo/39_n.jpg",
      alt: "Sompo Sigorta",
   },
]

const { ...rest } = Astro.props
---

<footer {...rest}>
   <ImageMarquee images={images} />
   <div class="text-ternary text-sm">
      &copy; {today.getFullYear()} Rami Sigorta.
   </div>
</footer>
<style>
   footer {
      text-align: center;
   }
</style>
