---
import Arrow from "./Arrow.astro"
import IconButtonWrapper from "./IconButtonWrapper.astro"

const { imageSrc, imageAlt, title, desc } = Astro.props
---

<div class="flex flex-col gap-4 shadow-lg">
   <div class="overflow-hidden">
      <img
         src={imageSrc}
         alt={imageAlt}
         class="h-56 w-full transform cursor-pointer object-cover transition duration-300 ease-in-out hover:scale-110"
      />
   </div>
   <div class="flex flex-col gap-4 px-4">
      <h6 class="font-semibold">{title}</h6>
      <p>
         {desc}
      </p>
      <IconButtonWrapper class="mb-6">
         <Arrow arrowSide="right" />
      </IconButtonWrapper>
   </div>
</div>
